
/*

blue: #1f8dd6
yellow: #f2c500
green: #00bd9b
grey: #2d3e50
alternative blue: #527192
chemnitz blue: #004177
*/
body {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 300 !important;
    line-height: 1.5em;
}

* {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 300;
} 

.header {
    background-image: url('./header.jpg');
    min-height: 700px;
    background-size: cover;
    background-position: center;
}

.header h1,
.header h3 {
    text-align: left;
}

.logo {
    height: 200px;
}

h1, h2, h3, h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-align: center;
}

h3, h4 {
    text-align: left;
}

strong {
    font-weight: 600 !important;
}

a {
    color: #111;
}

ul { 
    list-style: none;
    text-align: left;
    padding-left: 20px;
}

.icon {
    max-height: 80px;
}

.icon-food {
    max-height: 150px;
}
.icon-rocket,
.icon-pencil {
    opacity: .7;
}
.icon-bird {
    max-height: 60px;
}

@media screen and (min-width: 48em) {
    .icon-location {
        margin-top: 25px;
    }
    .icon-pencil {
        margin-top: 35px;
    }
    .icon-rocket {
        margin-top: 25px;
    }
    .icon-bird {
        margin-top: 25px;
    }
}

.is-center {
    text-align: center;
}

.pure-g {
    padding: 35px 50px;
}

.pure-g:nth-child(2n) {
    background-color: #85947e;
    color: #ffffff;
}

.pure-g:nth-child(2n) a {
    color: #ffffff;
}

.pure-g:nth-child(2n) h1, 
.pure-g:nth-child(2n) h2, 
.pure-g:nth-child(2n) h3, 
.pure-g:nth-child(2n) h4 {
    color: #fff;
}

.empty-row {
    padding: 0;
}

.logo-sponsor {
    max-height: 100px;
    padding: 0 20px;
}

.logo-staffbase {
    max-height: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.logo-capeit {
    max-height: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo-chemmedia {
    max-height: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.sponsors a {
    text-decoration: none;
}

iframe {
    width: 100%;
    max-width: 100%;
}

.pure-button.button {
    background-color: #dd5604;
    font-size: 110%;
    color: #ffffff;
}

.copyright {
    text-align: right;
    font-size: 10px;
    position: relative;
    bottom: -555px;
    right: -40px;
}

.text-tiny {
    font-size: 10px;
    line-height: 14px;
}

.footer li {
    text-align: center;
}

dt {
    font-weight: 600;
}

pre {
    background-color: #efefef;
    border-radius: 3px;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #c4c4c4;
    font-family: monospace !important;
}
