<!-- sidebar -->
<nav id="sidenav">
    <a href="http://codeforchemnitz.de/chemhack/images/logo2.png" class="hidden-xs hidden-sm">
        <img src="http://phpug-dresden.org/images/events/phpdd17/phpdd17-logo.png" id="brandimg" class="img-responsive" alt="ChemHack Logo">
    </a>

    {% comment %}
    <div id="clockdiv" class="hidden-xs">
        <div>
            <span class="days"></span>
            <div class="smalltext">Tage</div>
        </div>
        <div>
            <span class="hours"></span>
            <div class="smalltext">Stunden</div>
        </div>
        <div>
            <span class="minutes"></span>
            <div class="smalltext">Minuten</div>
        </div>
        <div>
            <span class="seconds"></span>
            <div class="smalltext">Sekunden</div>
        </div>
    </div>

    <hr class="blockspace">
    {% endcomment %}

    <ul class="nav">
        <li class="hidden-sm hidden-md hidden-lg">
            <a href="http://phpug-dresden.org/phpdd17.html" title="PHP Developer Day 2017">PHP Developer Day 2017</a>
        </li>

        <li>
            <a href="http://phpug-dresden.org/phpdd17/speaker.html">Die Themen</a>
        </li>



        <li>
            <a href="http://phpug-dresden.org/phpdd17/programm.html">Das Programm</a>
        </li>



        <li>
            <a href="http://phpug-dresden.org/phpdd17/tickets-kaufen.html">Tickets kaufen</a>
        </li>



        <li>
            <a href="http://phpug-dresden.org/phpdd17/ort-und-anreise.html">Ort und Anreise</a>
        </li>



        <li>
            <a href="http://phpug-dresden.org/phpdd17/verpflegung.html">Verpflegung</a>
        </li>



        <li>
            <a href="http://phpug-dresden.org/phpdd17/sponsor-werden.html">Sponsor werden</a>
        </li>



        <li>
            <a href="http://phpug-dresden.org/phpdd17/verhaltenskodex.html">Verhaltenskodex</a>
        </li>



        <li>
            <a href="http://phpug-dresden.org/phpdd17/media.html">Media</a>
        </li>


    </ul>

    <hr class="blockspace">

    <div id="socialmedia">
        <div class="row">
            <div class="col-xs-12">
                <a href="https://twitter.com/PHPDD" target="_blank" title="Follow PHP Developer Day 2017 on twitter">
                    <i class="fa fa-twitter"></i> <span class="text-twitter">@PHPDD</span>
                </a>
            </div>
            <div class="col-xs-12">
                <a href="https://twitter.com/hashtag/phpdd17" target="_blank" title="Hashtag #PHPDD17 on twitter">
                    <i class="fa fa-twitter"></i> <span class="text-twitter">#PHPDD17</span>
                </a>
            </div>
        </div>
    </div>

    <hr class="blockspace">

    <div id="phpugdd">
        <a href="http://phpug-dresden.org/index.html" title="PHP USERGROUP DRESDEN e.V.">
            <img src="http://phpug-dresden.org/images/logo.png" class="img-responsive" alt="PHP USERGROUP DRESDEN e.V. Logo">
        </a>
    </div>

    <hr class="blockspace">

    <div id="swk">
        <a href="https://www.softwerkskammer.org/groups/sachsen" target="_blank" title="Softwerkskammer Sachsen">
            <img src="http://phpug-dresden.org/images/softwerkskammer.png" alt="Logo Softwerkskammer" class="img-responsive">
        </a>
    </div>

</nav>