<!-- sidebar -->
<nav id="sidenav">
    <a href="http://chemnitzhackt.de" class="hidden-xs hidden-sm">
        <img src="images/logo.png" id="brandimg" class="img-responsive" alt="ChemHack Logo">
    </a>

    {% comment %}
    <div id="clockdiv" class="hidden-xs">
        <div>
            <span class="days"></span>
            <div class="smalltext">Tage</div>
        </div>
        <div>
            <span class="hours"></span>
            <div class="smalltext">Stunden</div>
        </div>
        <div>
            <span class="minutes"></span>
            <div class="smalltext">Minuten</div>
        </div>
        <div>
            <span class="seconds"></span>
            <div class="smalltext">Sekunden</div>
        </div>
    </div>

    <hr class="blockspace">
    {% endcomment %}

    <ul class="nav">
        <li><a href="themen.html">Die Themen</a></li>
        <li><a href="ort-und-anreise.html">Ort und Anreise</a></li>
        <li><a href="verpflegung.html">Verpflegung</a></li>
        <li><a href="sponsor-werden.html">Sponsor werden</a></li>
    </ul>

    <hr class="blockspace">

    <div id="socialmedia">
        <div class="row">
            <div class="col-xs-12">
                <a href="https://twitter.com/ChemnitzHackt" target="_blank" title="Follow ChemnitzHackt on twitter">
                    <i class="fa fa-twitter"></i> <span class="text-twitter">@ChemnitzHackt</span>
                </a>
            </div>
            <div class="col-xs-12">
                <a href="https://twitter.com/hashtag/ChemnitzHackt" target="_blank" title="Hashtag #ChemnitzHackt on twitter">
                    <i class="fa fa-twitter"></i> <span class="text-twitter">#ChemnitzHackt</span>
                </a>
            </div>
        </div>
    </div>

</nav>