<!-- sidebar -->
<nav id="sidenav">
    <a href="/" class="hidden-xs">
        <img src="/assets/images/chemhack_small.png" id="brandimg" class="img-responsive" alt="ChemHack Logo">
    </a>

    {% comment %}
    <div id="clockdiv" class="hidden-xs">
        <div>
            <span class="days"></span>
            <div class="smalltext">Tage</div>
        </div>
        <div>
            <span class="hours"></span>
            <div class="smalltext">Stunden</div>
        </div>
        <div>
            <span class="minutes"></span>
            <div class="smalltext">Minuten</div>
        </div>
        <div>
            <span class="seconds"></span>
            <div class="smalltext">Sekunden</div>
        </div>
    </div>

    <hr class="blockspace">
    {% endcomment %}

    {% assign current = page.url | downcase | split: '/' %}
    {% assign current = current[1] | split: '.' %}
    {% assign current = current[0] %}
    <ul class="nav nav-pills nav-stacked">
        <li {% if current == 'themen' %}class='active'{% endif %}><a href="/themen">Die Themen</a></li>
        <li {% if current == 'ort-und-anreise' %}class='active'{% endif %}><a href="/ort-und-anreise">Ort und Anreise</a></li>
        <li {% if current == 'verpflegung' %}class='active'{% endif %}><a href="/verpflegung">Verpflegung</a></li>
        <li {% if current == 'kickstart' %}class='active'{% endif %}><a href="/kickstart">Kickstart</a></li>
        <li {% if current == 'sponsoring' %}class='active'{% endif %}><a href="/sponsoring">Sponsor werden</a></li>
    </ul>

    <hr class="blockspace" class="hidden-xs">

    <div id="socialmedia" class="hidden-xs">
        <div class="row">
            <div class="col-xs-12">
                <a href="https://twitter.com/ChemnitzHackt" target="_blank" title="Follow ChemnitzHackt on twitter">
                    <i class="fa fa-twitter"></i> <span class="text-twitter">@ChemnitzHackt</span>
                </a>
            </div>
            <div class="col-xs-12">
                <a href="https://twitter.com/hashtag/ChemHack2017" target="_blank" title="Hashtag #ChemHack on twitter">
                    <i class="fa fa-twitter"></i> <span class="text-twitter">#ChemHack2017</span>
                </a>
            </div>
        </div>
    </div>

</nav>