---
---
<html lang="de">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="description" content="Chemnitz hackt!">
        <meta name="author" content="Code for Chemnitz">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:title" content="Chemnitz hackt!">
        <meta property="og:type" content="website">
        <meta property="og:url" content="http://chemnitzhackt.de">
        <meta property="og:image" content="http://chemnitzhackt.de/images/chemnitz-hackt-2017.png">
        <link rel="stylesheet" href="../style.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,600" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    </head>

    <body class="landing">

        {{content}}

    </body>
</html>